@using Hippo.GdsRazor.Models

@await Html.PartialAsync("GdsTable", new TableModel(
    new TableModel.RowModel((HTML) (@<text>Foo <span>bar</span></text>))
) {
    Head = new TableModel.RowModel((HTML) (@<text>Foo <span>bar</span></text>))
})
