@using Hippo.GdsRazor.Models

@{
    ViewData["Title"] = "PhaseBanner Axe";
    Layout = "../Axe";
}

@await Html.PartialAsync("GdsPhaseBanner", new PhaseBannerModel(
  (HTML) (@<text>This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.</text>)
) {
  Tag = "alpha"
})
