@import "node_modules/govuk-frontend/govuk/all";

.govuk-footer__sta-logo {
  display: inline-block;
  min-width: 125px;
  padding-top: 112px;
  background-image: url("/assets/images/standards-and-testing-agency-logo.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 125px 102px;
}

.demo {
  max-width: 1200px;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px auto;
}
body {
  > h1, > h2, > h3, > h4 {
    width: 1240px;
    margin: auto;
  }
}