@model Hippo.GdsRazor.Models.ErrorMessageModel

<p id="@Model.Id" class="govuk-error-message @Model.Classes" @Html.Raw(Model.ExpandAttributes())>
  @if (Model.VisuallyHiddenText == null || Model.VisuallyHiddenText.Length > 0)
  {
    <span class="govuk-visually-hidden">@(Model.VisuallyHiddenText ?? "Error"):</span>
  }
  @await Html.PartialAsync("GdsContent", Model.Content)
</p>
