@model Hippo.GdsRazor.Models.InsetTextModel

<div id="@Model.Id" class="govuk-inset-text @Model.Classes" @Html.Raw(Model.ExpandAttributes())>
  @await Html.PartialAsync("GdsContent", Model.Content)
</div>
