@using GdsRazor.Models

@{
    ViewData["Title"] = "Breadcrumbs Demo";
    Layout = "../Layout";
}

<h1 class="govuk-heading-l">Input</h1>
<h2 class="govuk-heading-s">Default:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsBackLink", new BackLinkModel())
</div>

<h2 class="govuk-heading-s">Customised:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsBackLink", new BackLinkModel("/1")
    {
        Content = "Back to create items"
    })
</div>
