@using GdsRazor.Models

@{
    ViewData["Title"] = "ErrorSummary Demo";
    Layout = "../Layout";
}

<h1 class="govuk-heading-l">ErrorSummary</h1>
<h2 class="govuk-heading-s">Default:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsErrorSummary", new ErrorSummaryModel())
</div>

<h2 class="govuk-heading-s">Customised:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsErrorSummary", new ErrorSummaryModel(
        "There is a problem",
        ("#passport-issued-day", "The date your passport was issued must be in the past"),
        ("#postcode-input", "Enter a postcode, like AA1 1AA")
    ))
</div>
