@using GdsRazor.Models

@{
    ViewData["Title"] = "Input Demo";
    Layout = "../Layout";
}

<h1 class="govuk-heading-l">Input</h1>
<h2 class="govuk-heading-s">Default:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsInput", new InputModel())
</div>

<h2 class="govuk-heading-s">Customised:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsInput", new InputModel(
        "event-name",
        "event-name",
        new LabelModel("What is the name of the event?")
        {
            Classes = LabelModel.Size.Large,
            IsPageHeading = true
        }
    ) {
        Classes = InputModel.Width.Width20,
        Hint = "The event's name"
    })
</div>

<h2 class="govuk-heading-s">Error:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsInput", new InputModel(
        "event-name-error",
        "event-name-error",
        "What is the name of the event?"
        ) {
            Classes = InputModel.Width.Width20,
            ErrorMessage = "Must be at least 3 characters"
        })
</div>
