<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
    </head>
    <body class="govuk-template__body">
        <h1 class="govuk-heading-l">Test boilerplate</h1>
        <p role="main" class="govuk-body">
            Used during testing to inject rendered components and test specific configurations
        </p>
        @RenderBody()
    </body>
</html>
