@using Hippo.GdsRazor.Models

@await Html.PartialAsync("GdsErrorMessage", new ErrorMessageModel(
  (HTML) (@<text><span class="govuk-visually-hidden">Gwall:</span> Neges gwall am yr enw llawn yn mynd yma</text>)
) {
  VisuallyHiddenText = ""
})
