@using GdsRazor.Models
@model GdsRazor.Models.PhaseBannerModel

<div id="@Model.Id" class="govuk-phase-banner @Model.Classes" @Html.Raw(Model.ExpandAttributes())>
  <p class="govuk-phase-banner__content">
    @await Html.PartialAsync("GdsTag", new TagModel
    {
      Id = Model.Tag?.Id,
      Attributes = Model.Tag?.Attributes,
      Content = Model.Tag?.Content,
      Classes = "govuk-phase-banner__content__tag " + (Model.Tag?.Classes ?? "")
    })
    <span class="govuk-phase-banner__text">
      @await Html.PartialAsync("GdsContent", Model.Content)
    </span>
  </p>
</div>
