@using Hippo.GdsRazor.Models

@{
    ViewData["Title"] = "CharacterCount Demo";
    Layout = "../Layout";
}

<h1 class="govuk-heading-l">CharacterCount</h1>
<h2 class="govuk-heading-s">Default:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsCharacterCount", new CharacterCountModel())
</div>

<h2 class="govuk-heading-s">Custom:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsCharacterCount", new CharacterCountModel(
        "with-hint",
        "with-hint",
        new LabelModel
        {
            Content = "Can you provide more detail?",
            Classes = LabelModel.Size.Large,
            IsPageHeading = true
        }
    ) {
        Rows = 3,
        MaxLength = 200,
        Hint = "Do not include personal or financial information, like your National Insurance number or credit card details."
    })
</div>

<h2 class="govuk-heading-s">Error:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsCharacterCount", new CharacterCountModel(
        "word-count",
        "word-count",
        new LabelModel
        {
            Content = "Enter a job description",
            Classes = LabelModel.Size.Large,
            IsPageHeading = true
        }
    ) {
        Rows = 5,
        MaxWords = 50,
        Value = "A content designer works on the end-to-end journey of a service to help users complete their goal and government deliver a policy intent. Their work may involve the creation of, or change to, a transaction, product or single piece of content that stretches across digital and offline channels. They make sure appropriate content is shown to a user in the right place and in the best format.",
        ErrorMessage = "Job description must be 50 words or less"
    })
</div>
