@using Hippo.GdsRazor.Models

@{
    ViewData["Title"] = "ErrorMessage Demo";
    Layout = "../Layout";
}

<h1 class="govuk-heading-l">ErrorMessage</h1>
<h2 class="govuk-heading-s">Default:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsErrorMessage", new ErrorMessageModel())
</div>

<h2 class="govuk-heading-s">Date:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsDateInput", new DateInputModel
    {
        Id = "passport-issued-2",
        NamePrefix = "passport-issued-2",
        Fieldset = new FieldsetModel
        {
            Legend = new FieldsetModel.LegendModel
            {
                Content = "When was your passport issued?"
            }
        },
        Hint = "For example, 27 3 2007",
        ErrorMessage = "The date your passport was issued must include a year"
    })
</div>

<h2 class="govuk-heading-s">Input:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsInput", new InputModel
    {
        Label = new LabelModel
        {
            Content = "What is the name of the event?"
        },
        Classes = InputModel.Width.Width20,
        Id = "event-name",
        Name = "event-name",
        ErrorMessage = "Must be at least 3 characters"
    })
</div>