@using Hippo.GdsRazor.Models

@{
    ViewData["Title"] = "Select Demo";
    Layout = "../Layout";
}

<h1 class="govuk-heading-l">Select</h1>
<h2 class="govuk-heading-s">Default:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsSelect", new SelectModel())
</div>

<h2 class="govuk-heading-s">Customised:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsSelect", new SelectModel(
        "sort",
        "sort",
        new SelectModel.ItemModel("Recently published") { Value = "published" },
        new SelectModel.ItemModel("Recently updated") { Value = "updated", Selected = true },
        new SelectModel.ItemModel("Most views") { Value = "views" },
        new SelectModel.ItemModel("Most comments") { Value = "comments" }
    ) {
        Label = "Sort by"
    })
</div>

<h2 class="govuk-heading-s">Error:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsSelect", new SelectModel(
        "sort-error",
        "sort-error",
        new SelectModel.ItemModel("Recently published") { Value = "published" },
        new SelectModel.ItemModel("Recently updated") { Value = "updated" },
        new SelectModel.ItemModel("Most views") { Value = "views" },
        new SelectModel.ItemModel("Most comments") { Value = "comments" }
    ) {
        Label = "Sort by",
        Value = "views",
        ErrorMessage = "Unexpected error"
    })
</div>