@using Hippo.GdsRazor.Models

@{
    ViewData["Title"] = "Table Demo";
    Layout = "../Layout";
}

<h1 class="govuk-heading-l">Table</h1>
<h2 class="govuk-heading-s">Default:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsTable", new TableModel())
</div>

<h2 class="govuk-heading-s">Custom:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsTable", new TableModel(
        new TableModel.RowModel(
            "First 6 weeks",
            "£109.80 per week"
        ),
        new TableModel.RowModel(
            "Next 33 weeks",
            "£109.80 per week"
        ),
        new TableModel.RowModel(
            "Total estimated pay",
            "£4,282.20"
        )
    ) {
        Caption = "Dates and amounts",
        CaptionClasses = "govuk-table__caption--m",
        FirstCellIsHeader = true,
        Head = new TableModel.RowModel(
            "Date",
            "Amount"
        )
    })
</div>

<h2 class="govuk-heading-s">Numeric:</h2>
<div class="demo">
    @await Html.PartialAsync("GdsTable", new TableModel(
        new TableModel.RowModel(
            "January",
            new TableModel.CellModel("£85") { Format = "numeric" },
            new TableModel.CellModel("£95") { Format = "numeric" }
        ),
        new TableModel.RowModel(
            "February",
            new TableModel.CellModel("£75") { Format = "numeric" },
            new TableModel.CellModel("£55") { Format = "numeric" }
        ),
        new TableModel.RowModel(
            "March",
            new TableModel.CellModel("£165") { Format = "numeric" },
            new TableModel.CellModel("£125") { Format = "numeric" }
        )
    ) {
        Caption = "Months and rates",
        CaptionClasses = "govuk-table__caption--m",
        FirstCellIsHeader = true,
        Head = new TableModel.RowModel(
            "Month you apply",
            new TableModel.CellModel("Rate for bicycles") { Format = "numeric" },
            new TableModel.CellModel("Rate for vehicles") { Format = "numeric" }
        )
    })
</div>
