@using Hippo.GdsRazor.Models

@await Html.PartialAsync("GdsCookieBanner", new CookieBannerModel(
  new CookieBannerModel.MessageModel((HTML) (@<p class="govuk-body">We use cookies in <span>our service</span>.</p>))
  ))
