@using Hippo.GdsRazor.Models

@await Html.PartialAsync("GdsCheckboxes", new CheckboxesModel(
  "how-contacted-checked",
  new CheckboxesModel.ItemModel("email", "Email") {
    Checked = true,
    ConditionalContent = (HTML) (@<text>
                                   <label class="govuk-label" for="context-email">Email address</label>
                                   <input class="govuk-input govuk-!-width-one-third" name="context-email" type="text" id="context-email">
    </text>)
  },
  new CheckboxesModel.ItemModel("phone", "Phone") {
    ConditionalContent = (HTML) (@<text>
                                   <label class="govuk-label" for="contact-phone">Phone number</label>
                                   <input class="govuk-input govuk-!-width-one-third" name="contact-phone" type="text" id="contact-phone">
    </text>)
  },
  new CheckboxesModel.ItemModel("text", "Text message") {
    ConditionalContent = (HTML) (@<text>
                                   <label class="govuk-label" for="contact-text-message">Mobile phone number</label>
                                   <input class="govuk-input govuk-!-width-one-third" name="contact-text-message" type="text" id="contact-text-message">
    </text>)
  }
) {
  IdPrefix = "how-contacted-checked",
  Fieldset = new FieldsetModel {
    Legend = "How do you want to be contacted?"
  }
})
